* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Roboto, serif;
}

a {
	color: inherit
}

.wrapper {
	background: #1B2473;
	width: 1440px;
	height: 769px;
}

.wrapper-form {
	display: flex;
	flex-direction: column;
	background: white;
	position: absolute;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.25);
	width: 600px;
	height: 412px;
	top: 82px;
	left: 412px;
}

.wrapper-form__title {
	margin-top: 26px;
	text-align: center;

	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 50px;

	color: #787878;
}

.wrapper-form__input-wrapper {
	margin-top: 17px;
	margin-left: 45px;
	display: flex;
	flex-direction: column;
}


.wrapper-form__input-label {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 16px;
	color: #787878;
}


.wrapper-form__input-label_second {
	margin-top: 13px;
}

.wrapper-form__input {
	margin-top: 3px;
	width: 509px;
	height: 42px;
	padding-top: 7px;

	border: 2px solid #787878;
	border-radius: 10px;
}

.wrapper-form__input::placeholder {
	font-style: normal;
	font-size: 28px;
	text-indent: 15px;
	color: #CCCCCC;
}


.wrapper-form__pass-wrapper {
	margin-top: 13px;
	border-color: #CB2424;
}


.wrapper-form__checkbox-wrapper {
	display: flex;
	align-items: center;
	position: relative;
	margin-top: 16px;
}

.wrapper-form__checkbox {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	z-index: 1;
}

.wrapper-form__checkbox-square {
	display: inline-block;
	margin-left: 4px;
	width: 24px;
	height: 24px;
	left: 0;
	top: 0;
	background: white;
	border: 2px solid #787878;
	border-radius: 7px;
}


.wrapper-form__checkbox:checked + .wrapper-form__checkbox-square::after {
	content: '✓';
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	left: 4px;
}

.wrapper-form__checkbox-label {
	margin-left: 10px;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0;
	text-align: left;

	color: #787878;
}

.wrapper-form__submit-wrapper {
	position: absolute;
	top: 334px;
	text-align: center;
	width: 100%;
}

.wrapper-form__submit {
	width: 180px;
	height: 52px;

	background: #1A226B;
	border-radius: 10px;

	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 16px;
	text-align: center;

	color: white;
}

.wrapper-form__checkbox-square_pin {
	display: inline-block;
	margin-left: 4px;
	width: 24px;
	height: 24px;
	left: 0;
	top: 0;
	background: white;
	border: 2px solid #CB2424;
	border-radius: 7px;
}


.warning_empty_input{
	display: none;
	color: #CB2424;
	font-weight: 500;
	font-size: 10px;
	line-height: 16px;
}

.error .wrapper-form__input{
	border-color: #CB2424;
}

.error .wrapper-form__input-label {
	color: #CB2424;
}

.error .warning_empty_input {
	display: block;
}
