* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  height: 100px;
  background: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_text {
  color: white;
  font-size: 20px;
}

.container {
  margin: auto;
  width: 75%;
  background-color: bisque;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: beige;
  max-width: 300px;
  height: 550px;
  box-shadow: 5px 5px 5px darkgray;
  margin: 10px;
  position: relative;
}

.product-card {
  max-width: 100%;
  max-height: 300px;
  border: 1px solid black;
}

h2 {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  margin: 3px;
}

.card-price {
  color: red;
  display: flex;
  justify-content: center;
}

.card-description {
  text-align: center;
}

.add-item{
  height: 40px;
  width:100%;
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  font-size: 20px;
  border: 1px solid black;
  position: absolute;
  bottom: 0;
}

footer {
  background: burlywood;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
